.videoClase {
    margin-bottom: 40px;
    width: 270px;
}

.videoClase__miniatura {
    height: 140px;
    width: 250px;
}

.videoClase__about {
    display: flex;
    margin-top: 10px;
    /* padding-right: 20px; */
}

.videoClase__tema {
    margin-left: 16px;
}

.videoClase__tema > h4 {
    font-size: 12px;
    margin-bottom: 5px;
}

.videoClase__tema > p {
    font-size: 12px;
    color: grey;
}

.videoClase__avatar {
    width: 30px !important;
    height: 30px !important;
}